.dropdown-menu {
    height: auto;
    max-height: 35rem;
    overflow-x: hidden;
}

#name-dropdown {
    margin: auto;
    padding-top: 7%;
    display: none;
}

#clock-in-button {
    margin-top: .5rem;
    display: none;
}