.main-navbar {
    background-color: #1a9be6;
}

.hint {
    padding-top: 7%;
    font-size: 3rem
}

#bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: url('images/bg.jpg');
    /* background-position: 5rem; */
    background-size: 1920px;
    background-position: center 25%;
    background-repeat: no-repeat;
    opacity: 0.5;
}